:root {
  --pixel-size: 2px;
  --grid-cell: calc(var(--pixel-size) * 16);
}

@media (min-width: 770px) {
  :root {
    --pixel-size: 2px;
  }
}

@media (min-width: 950px) {
  :root {
    --pixel-size: 3px;
  }
}

@media (min-width: 1400px) {
  :root {
    --pixel-size: 4px;
  }
}

@media (min-width: 1850px) {
  :root {
    --pixel-size: 5px;
  }
}

@font-face {
  font-family: "pixelFont";
  src: url(/font/Pixeled.ttf);
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  background: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  font-family: "pixelFont", "Sora", monospace;
}

/*








Speech Boxes */

.speechBubble {
  background-color: whitesmoke;
  position: absolute;
  font-size: calc(2 * var(--pixel-size));
  font-weight: 600;
  word-spacing: 0.05em;
  padding: 0.7em;
  outline: solid;
  outline-width: calc(0.7 * var(--pixel-size));
  outline-color: black;
}

.text {
  top: calc(1920 * var(--pixel-size));
  left: calc(140 * var(--pixel-size));
  background-color: whitesmoke;
  position: absolute;
  font-size: calc(2 * var(--pixel-size));
  font-weight: 600;
  word-spacing: 0.05em;
  padding: 0.7em;
  outline: solid;
  outline-width: calc(0.7 * var(--pixel-size));
  outline-color: black;
}

.text span {
  opacity: 0;
}

.text span.revealed {
  opacity: 1;
}

.playerText {
  top: calc(70 * var(--pixel-size));
  left: calc(80 * var(--pixel-size));
  opacity: 0;
}

.playerText span {
  opacity: 0;
}

.playerText span.revealed {
  opacity: 1;
}

.ptGraderSpeechBubble {
  top: calc(800 * var(--pixel-size));
  left: calc(200 * var(--pixel-size));
  opacity: 0;
}

/*







Basic classes */
.pixelArt {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.glow {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(208, 255, 0, 1));
  filter: drop-shadow(0px 0px 10px rgba(208, 255, 0, 1));
}

.camera {
  width: calc(var(--pixel-size) * 200);
  height: calc(var(--pixel-size) * 160);
  background: rgb(121, 191, 248);
  overflow: visible;
  position: absolute;
}

/* The map size is 480 x 2700px (So 480/16 = 30 and 2700/16 = 168.75 */
.map {
  image-rendering: pixelated;
  background-image: url(/img/background-map.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: calc(30 * var(--grid-cell));
  height: calc(168.75 * var(--grid-cell));
  position: relative;
  overflow: visible;
}

#bridge {
  width: calc(7.375 * var(--grid-cell));
  height: calc(13.25 * var(--grid-cell));
  position: absolute;
  top: calc(398 * var(--pixel-size));
  left: calc(144 * var(--pixel-size));
  background-image: url(/img/Bridge.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* 







Mailbox and Letter/Form */

.mailbox {
  width: calc(15 * var(--pixel-size));
  height: calc(18 * var(--pixel-size));
  position: absolute;
  overflow: hidden;
  top: calc(2440 * var(--pixel-size));
  left: calc(234 * var(--pixel-size));
}

#mailbox {
  width: calc(30 * var(--pixel-size));
  height: calc(18 * var(--pixel-size));
  background-image: url(/img/Mailbox.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.mail {
  width: calc(64 * var(--pixel-size));
  height: calc(80 * var(--pixel-size));
  position: absolute;
  overflow: hidden;
  top: calc(2416 * var(--pixel-size));
  left: calc(208 * var(--pixel-size));
}

.mailClosed {
  width: calc(34 * var(--pixel-size));
  height: calc(23 * var(--pixel-size));
  position: absolute;
  overflow: hidden;
  top: calc(2460 * var(--pixel-size));
  left: calc(223 * var(--pixel-size));
}

.mailClosed:hover {
  top: calc(2458 * var(--pixel-size));
  outline-style: solid;
  outline-width: calc(1 * var(--pixel-size));
  outline-color: rgb(18, 118, 233);
  cursor: pointer;
}

.mailClosedSpriteSheet {
  width: calc(68 * var(--pixel-size));
  height: calc(23 * var(--pixel-size));
  background-image: url(/img/MailLetterClosed.png);
  background-repeat: no-repeat;
  background-size: 100%;
  animation: animate 2s steps(2) infinite;
}

#mail {
  width: calc(1024 * var(--pixel-size));
  height: calc(80 * var(--pixel-size));
  background-image: url(/img/MailSpriteSheet.png);
  background-size: 100%;
  background-repeat: no-repeat;
  visibility: hidden;
}

.letterForm {
  background-image: url(/img/LetterForm.png);
  width: calc(180 * var(--pixel-size));
  height: calc(180 * var(--pixel-size));
  background-size: 100%;
  position: absolute;
  top: calc(-10 * var(--pixel-size));
  left: calc(16 * var(--pixel-size));
}

.formLetterController {
  visibility: hidden;
}

.h-captcha-custom {
  position: absolute !important;
  top: calc(140 * var(--pixel-size)) !important;
  left: calc(37 * var(--pixel-size)) !important;
  max-width: calc(30 * var(--pixel-size)) !important;
}

.submitFormLetter {
  background-color: whitesmoke;
  top: calc(144 * var(--pixel-size));
  left: calc(144 * var(--pixel-size));
  font-family: "pixelFont", "Sora", monospace;
  padding: 0.7em;
  padding-top: 0em;
  padding-bottom: 0.2em;
  outline: solid;
  outline-width: calc(0.7 * var(--pixel-size));
  outline-color: black;
}

.submitFormLetter:hover {
  cursor: pointer;
}

.formText {
  position: absolute;
  font-size: calc(4 * var(--pixel-size));
  word-spacing: 0.05em;
}

.formTextLabel {
  position: absolute;
  top: calc(3 * var(--pixel-size));
  left: calc(49 * var(--pixel-size));
  font-family: "pixelFont", "Sora", monospace;
}

.formTextField {
  position: absolute;
  top: calc(17 * var(--pixel-size));
  left: calc(50 * var(--pixel-size));
  font-family: "pixelFont", "Sora", monospace;
  resize: none;
  width: calc(110 * var(--pixel-size));
  height: calc(60 * var(--pixel-size));
}

.formEmailLabel {
  position: absolute;
  top: calc(81 * var(--pixel-size));
  left: calc(49 * var(--pixel-size));
  font-family: "pixelFont", "Sora", monospace;
}

.formEmailField {
  position: absolute;
  top: calc(95 * var(--pixel-size));
  left: calc(50 * var(--pixel-size));
  width: calc(109 * var(--pixel-size));
  font-family: "pixelFont", "Sora", monospace;
  width: calc(110 * var(--pixel-size));
  height: calc(5 * var(--pixel-size));
}

.formNameLabel {
  position: absolute;
  top: calc(112 * var(--pixel-size));
  left: calc(49 * var(--pixel-size));
  font-family: "pixelFont", "Sora", monospace;
}

.formNameField {
  position: absolute;
  top: calc(128 * var(--pixel-size));
  left: calc(50 * var(--pixel-size));
  width: calc(82 * var(--pixel-size));
  font-family: "pixelFont", "Sora", monospace;
  width: calc(60 * var(--pixel-size));
  height: calc(5 * var(--pixel-size));
}

.formCloseBtn {
  width: calc(9 * var(--pixel-size));
  height: calc(9 * var(--pixel-size));
  position: absolute;
  top: calc(3 * var(--pixel-size));
  left: calc(156 * var(--pixel-size));
  margin: 0;
  outline: solid;
  outline-width: calc(0.7 * var(--pixel-size));
  outline-color: black;
  background-image: url("/img/btns/closeBtn.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.formCloseBtn:hover {
  cursor: pointer;
}

/* 







UI and Buttons */

.allBtns {
  visibility: visible;
}

.single-btn {
  opacity: 0.6;
  width: calc(32 * var(--pixel-size));
  height: calc(32 * var(--pixel-size));
  position: absolute;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
}

.singleBtnSpriteSheet {
  width: calc(32 * var(--pixel-size));
  height: calc(64 * var(--pixel-size));
}

.sprint-btn {
  background-image: url("/img/btns/control-button-sprint-ss.png");
  top: calc(80 * var(--pixel-size));
  left: calc(42 * var(--pixel-size));
}

.upBtn {
  background-image: url("/img/btns/controlButtonUp.png");
  top: calc(80 * var(--pixel-size));
  left: calc(140 * var(--pixel-size));
}

.downBtn {
  background-image: url("/img/btns/controlButtonDown.png");
  top: calc(110 * var(--pixel-size));
  left: calc(140 * var(--pixel-size));
  background-position-y: calc(0 * var(--pixel-size));
}

.sprint-btn:hover {
  cursor: pointer;
}

.upBtn:hover {
  cursor: pointer;
}

.downBtn:hover {
  cursor: pointer;
}

/*








Character class and IDs */

.character {
  width: calc(var(--pixel-size) * 20);
  height: calc(var(--pixel-size) * 20);
  position: absolute;
  overflow: hidden;
}

.characterSpritesheet {
  background-image: url(/img/characters/main-character-ss.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  width: calc(var(--pixel-size) * 80);
  height: calc(var(--pixel-size) * 160);
}

.character[walkDir="down"] .characterSpritesheet {
  background-position-y: calc(var(--pixel-size) * 0);
}

.character[walkDir="right"] .characterSpritesheet {
  background-position-y: calc(var(--pixel-size) * -20);
}

.character[walkDir="up"] .characterSpritesheet {
  background-position-y: calc(var(--pixel-size) * -40);
}

.character[walkDir="left"] .characterSpritesheet {
  background-position-y: calc(var(--pixel-size) * -60);
}

.character[walking="true"] .characterSpritesheet {
  animation: animate 0.6s steps(4) infinite;
}

.character[sprinting="true"] .characterSpritesheet {
  animation: animate 0.4s steps(4) infinite;
}

.character[runDir="down"] .characterSpritesheet {
  background-position-y: calc(var(--pixel-size) * -80);
}

.character[runDir="right"] .characterSpritesheet {
  background-position-y: calc(var(--pixel-size) * -100);
}

.character[runDir="up"] .characterSpritesheet {
  background-position-y: calc(var(--pixel-size) * -120);
}

.character[runDir="left"] .characterSpritesheet {
  background-position-y: calc(var(--pixel-size) * -140);
}

/*









NPC content */

/* I haven't added doggos yet, :( */

/* .doggo {
  visibility: hidden;
  width: calc(30 * var(--pixel-size));
  height: calc(30 * var(--pixel-size));
  position: absolute;
  overflow: hidden;
}

.doggoSpriteSheet {
  width: calc(120 * var(--pixel-size));
  height: calc(30 * var(--pixel-size));
  background: url("/img/characters/doggo1.png") no-repeat no-repeat;
  background-size: 100%;
}

.doggo1 {
  top: calc(800 * var(--pixel-size));
  left: calc(300 * var(--pixel-size));
} */

.doggo1SpriteSheet {
  animation: animate 0.5s steps(4) infinite;
}

.soldier {
  width: calc(var(--pixel-size) * 20);
  height: calc(var(--pixel-size) * 20);
  position: absolute;
  overflow: hidden;
}

.soldierSpriteSheet {
  position: absolute;
  width: calc(var(--pixel-size) * 80);
  height: calc(var(--pixel-size) * 80);
}

.soldier1 {
  visibility: visible;
}

.soldier1SpriteSheet {
  background: url(/img/characters/soldier-1-ss.png) no-repeat no-repeat;
  background-size: 100%;
  animation: animate 0.5s steps(4) infinite;
}

.soldier2 {
  visibility: visible;
}

.soldier2SpriteSheet {
  background: url(/img/characters/soldier-2-ss.png) no-repeat no-repeat;
  background-size: 100%;
  animation: animate 0.6s steps(4) infinite;
}

.soldier3 {
  visibility: visible;
  top: calc(810 * var(--pixel-size));
  left: calc(210 * var(--pixel-size));
}

.soldier3SpriteSheet {
  background: url(/img/characters/soldier-3-ss.png) no-repeat no-repeat;
  background-size: 100%;
  background-position-y: calc(-60 * var(--pixel-size));
}

.soldier4 {
  visibility: visible;
  top: calc(1136 * var(--pixel-size));
  left: calc(196 * var(--pixel-size));
}

.soldier4SpriteSheet {
  background: url(/img/characters/soldier-4-ss.png) no-repeat no-repeat;
  background-size: 100%;
  background-position-y: calc(-60 * var(--pixel-size));
}

.tuber {
  overflow: hidden;
  position: absolute;
  width: calc(24 * var(--pixel-size));
  height: calc(24 * var(--pixel-size));
}

.tuberSheet {
  background: url(/img/characters/tuber1.png) no-repeat no-repeat;
  position: absolute;
  background-size: 100%;
  width: calc(96 * var(--pixel-size));
  height: calc(384 * var(--pixel-size));
}

.tuber1 {
  top: calc(0 * var(--pixel-size));
  left: calc(24 * var(--pixel-size));
}

.tuber1sheet {
  animation: animate 13s steps(4) infinite;
}

.tuber2 {
  top: calc(24 * var(--pixel-size));
  left: calc(0 * var(--pixel-size));
}

.tuber2sheet {
  background-position-y: calc(-24 * var(--pixel-size));
  animation: animate 18s steps(4) infinite;
}

.grad {
  overflow: hidden;
  position: absolute;
  width: calc(32 * var(--pixel-size));
  height: calc(46 * var(--pixel-size));
}

.gradSpriteSheet {
  background: url("/img/characters/grad1.png") no-repeat no-repeat;
  position: absolute;
  background-size: 100%;
  width: calc(64 * var(--pixel-size));
  height: calc(46 * var(--pixel-size));
}

.grad1 {
  top: calc(2170 * var(--pixel-size));
  left: calc(164 * var(--pixel-size));
}

.grad1SpriteSheet {
  animation: animate 20s steps(2) infinite;
}

.grad2 {
  top: calc(2089 * var(--pixel-size));
  left: calc(132 * var(--pixel-size));
}

.grad2SpriteSheet {
  background-image: url("/img/characters/grad2.png");
  animation: animate 16s steps(2) infinite;
}

.grad3 {
  top: calc(2089 * var(--pixel-size));
  left: calc(164 * var(--pixel-size));
}

.grad3SpriteSheet {
  background-image: url("/img/characters/grad3.png");
  animation: animate 13s steps(2) infinite;
}

.grad4 {
  top: calc(2137 * var(--pixel-size));
  left: calc(116 * var(--pixel-size));
}

.grad4SpriteSheet {
  background-image: url("/img/characters/grad4.png");
  animation: animate 8s steps(2) infinite;
}

.grad5 {
  top: calc(2137 * var(--pixel-size));
  left: calc(164 * var(--pixel-size));
}

.grad5SpriteSheet {
  background-image: url("/img/characters/grad5.png");
  animation: animate 11s steps(2) infinite;
}

/* 







Flag class and ID */

.armyFlag {
  position: absolute;
  width: calc(45 * var(--pixel-size));
  height: calc(70 * var(--pixel-size));
  overflow: hidden;
  left: calc(260 * var(--pixel-size));
  top: calc(156 * var(--pixel-size));
}

#armyFlagSS {
  animation: animate 0.8s steps(7) infinite;
  width: calc(315 * var(--pixel-size));
  /* ID width is calculated by class width * steps (ex: 45 * 2 = 90) */
  height: calc(70 * var(--pixel-size));
  background-size: 100%;
  background-image: url(/img/flag/FlagSheet.png);
  background-repeat: no-repeat;
}

.usFlag {
  position: absolute;
  width: calc(90 * var(--pixel-size));
  height: calc(140 * var(--pixel-size));
  overflow: hidden;
  left: calc(267 * var(--pixel-size));
  top: calc(1293 * var(--pixel-size));
}

#usFlagSS {
  animation: animate 0.8s steps(7) infinite;
  width: calc(630 * var(--pixel-size));
  /* ID width is calculated by class width * steps (ex: 45 * 2 = 192) */
  height: calc(140 * var(--pixel-size));
  background-size: 100%;
  background-image: url(/img/flag/usFlagSheet.png);
  background-repeat: no-repeat;
}

/*







Sign class and IDs */

.sign {
  position: absolute;
  width: calc(96 * var(--pixel-size));
  height: calc(32 * var(--pixel-size));
  overflow: hidden;
}

.signSS {
  animation: animate 3s steps(2) infinite;
  width: calc(
    192 * var(--pixel-size)
  ); /* Sign width is calculated by width * steps (ex: 96 * 2 = 192) */
  height: calc(96 * var(--pixel-size));
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(/img/Signs/ArmySigns.png);
}

.goDownSign {
  opacity: 0.8;
  left: calc(192 * var(--pixel-size));
  top: calc(184 * var(--pixel-size));
}

.goDownSignSS {
  background-image: url(/img/Signs/goDownSign.png);
}

.armySign {
  left: calc(240 * var(--pixel-size));
  top: calc(236 * var(--pixel-size));
}

.armySignSS {
  animation: animate 3.1s steps(2) infinite;
  background-image: url(/img/Signs/ArmySigns.png);
}

.cssSign {
  left: calc(220 * var(--pixel-size));
  top: calc(434 * var(--pixel-size));
}

.cssSignSS {
  animation: animate 3.4s steps(2) infinite;
  background-image: url(/img/Signs/CSSSign.png);
}

.htmlSign {
  left: calc(222 * var(--pixel-size));
  top: calc(447 * var(--pixel-size));
}

.htmlSignSS {
  animation: animate 3.6s steps(2) infinite;
  background-image: url(/img/Signs/HTMLSign.png);
}

.javaSign {
  left: calc(223 * var(--pixel-size));
  top: calc(459 * var(--pixel-size));
}

.javaSignSS {
  animation: animate 3.1s steps(2) infinite;
  background-image: url(/img/Signs/JavaSign.png);
}

.mySqlSign {
  left: calc(225 * var(--pixel-size));
  top: calc(501 * var(--pixel-size));
}

.mySqlSignSS {
  animation: animate 3.5s steps(2) infinite;
  background-image: url(/img/Signs/MySQLSign.png);
}

.pythonSign {
  left: calc(227 * var(--pixel-size));
  top: calc(488 * var(--pixel-size));
}

.pythonSignSS {
  animation: animate 3.2s steps(2) infinite;
  background-image: url(/img/Signs/PythonSign.png);
}

.javaScriptSign {
  left: calc(239 * var(--pixel-size));
  top: calc(475 * var(--pixel-size));
}

.javaScriptSignSS {
  animation: animate 3.3s steps(2) infinite;
  background-image: url(/img/Signs/JavaScriptSign.png);
}

.leaderSign {
  left: calc(248 * var(--pixel-size));
  top: calc(826 * var(--pixel-size));
}

.leaderSignSS {
  background-image: url(/img/Signs/LeaderSign.png);
}

.netSysSign {
  left: calc(248 * var(--pixel-size));
  top: calc(1140 * var(--pixel-size));
}

.netSysSignSS {
  background-image: url(/img/Signs/NetSysSign.png);
}

.nurseSign {
  left: calc(150 * var(--pixel-size));
  top: calc(1458 * var(--pixel-size));
}

.nurseSignSS {
  background-image: url(/img/Signs/NurseSign.png);
}

.degreeSign {
  left: calc(245 * var(--pixel-size));
  top: calc(2000 * var(--pixel-size));
}

.degreeSignSS {
  background-image: url(/img/Signs/DegreeSign.png);
}

/*







Clock timer class and ID */

.numbers {
  position: absolute;
  width: calc(5 * var(--pixel-size));
  height: calc(7 * var(--pixel-size));
  overflow: hidden;
}

#numbers {
  position: absolute;
  width: calc(50 * var(--pixel-size));
  height: calc(7 * var(--pixel-size));
  /* ID width is calculated by class width * steps */
}

.numbers0-6 {
  position: absolute;
  width: calc(5 * var(--pixel-size));
  height: calc(7 * var(--pixel-size));
  overflow: hidden;
}

#numbers0-6 {
  position: absolute;
  width: calc(30 * var(--pixel-size));
  height: calc(7 * var(--pixel-size));
  /* ID width is calculated by class width * steps */
}

.numbers-hours {
  animation: animate 3600s steps(6) infinite;
  background-image: url(/img/ClockNumbers0-6.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.numbers-minutes {
  animation: animate 600s steps(10) infinite;
  background-image: url(/img/ClockNumbers.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.numbers-tens-seconds {
  animation: animate 60s steps(6) infinite;
  background-image: url(/img/ClockNumbers0-6.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.numbers-seconds {
  animation: animate 10s steps(10) infinite;
  background-image: url(/img/ClockNumbers.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.tenMin {
  left: calc(196 * var(--pixel-size));
  top: calc(786 * var(--pixel-size));
}

.oneMin {
  left: calc(202 * var(--pixel-size));
  top: calc(786 * var(--pixel-size));
}

.tenSec {
  left: calc(210 * var(--pixel-size));
  top: calc(786 * var(--pixel-size));
}

.hunSec {
  left: calc(216 * var(--pixel-size));
  top: calc(786 * var(--pixel-size));
}

/*








Map Objects */

.riverSpriteSheet {
  background-image: url("/img/RiverSpriteSheet.png");
  background-size: 100%;
  background-repeat: no-repeat;
  animation: animate 3s steps(8) infinite;
  width: calc(3840 * var(--pixel-size));
  height: calc(210 * var(--pixel-size));
}

.river {
  position: absolute;
  width: calc(480 * var(--pixel-size));
  overflow: hidden;
  top: calc(375 * var(--pixel-size));
}

.generator {
  position: absolute;
  width: calc(53 * var(--pixel-size));
  overflow: hidden;
  top: calc(1206 * var(--pixel-size));
  left: calc(175 * var(--pixel-size));
}

.generatorSpriteSheet {
  animation: animate 0.15s steps(2) infinite;
  width: calc(106 * var(--pixel-size));
  height: calc(57 * var(--pixel-size));
  background-size: 100%;
  background-image: url(/img/generatorSpriteSheet.png);
  background-repeat: no-repeat;
}

.palmTree {
  position: absolute;
  width: calc(90 * var(--pixel-size));
  overflow: hidden;
  top: calc(1300 * var(--pixel-size));
  left: calc(183 * var(--pixel-size));
}

.palmTreeSpriteSheet {
  animation: animate 6s steps(2) infinite;
  background-image: url(/img/plants/palmTree1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: calc(180 * var(--pixel-size));
  height: calc(120 * var(--pixel-size));
}

.palmTreeSpriteSheet1 {
  background-image: url(/img/plants/palmTree2.png);
}

.palmTree2 {
  top: calc(1509 * var(--pixel-size));
  left: calc(183 * var(--pixel-size));
}

/*








Animation control */

@keyframes animate {
  from {
    transform: translate3d(0%, 0%, 0);
  }
  to {
    transform: translate3d(-100%, 0%, 0);
  }
}
